This is a Xero API client for the Rust language. 
Check src/entities/mod.rs and src/lib.rs for a list of existing entities and public APIs.
See https://developer.xero.com/documentation/api/accounting/overview for official Xero API reference.

Always implement tests and include doc comments for new public APIs. Tests are stored in /tests/.

Always run `cargo check` after a major refactor, and fix any errors or warnings that pop up.

Use the `time` library for datetimes, `miette` for error handling, `reqwest` for API requests, and `oauth2` for authentication.
Use `tracing::{trace, info, debug, warn, error}` for logging, NOTE you do not need to import these as they are available globally as macros without manual imports.

Backwards compatibility is not important, but make sure not to remove or break any existing functionality unrelated to what we're working on.
