export XERO_CLIENT_ID=4F0D923F37D340AFB7C09211680DF0C0
export XERO_CLIENT_SECRET=vv7fTme5C3rUswX0fz2mY-ovy6DGLqhS1j9FoTeDGeZKhvm8
export XERO_TENANT_ID=d504efdf-eb11-4bac-ad05-f39d6033ce42
export RUST_LOG="info,xero_rs=debug,hyper=info,h2=info"
export RUST_BACKTRACE=1