export XERO_CLIENT_ID=4F0D923F37D340AFB7C09211680DF0C0
export XERO_CLIENT_SECRET=4gvj9RvWsTzu5rXDqLS6UGYkC2RrxthGUfhLKJGnUslgc3TG
export XERO_TENANT_ID=bf4bee0b-e8cb-4cba-b9e2-2c55f4090277
export RUST_LOG="info,xero_rs=debug,hyper=info,h2=info"
export RUST_BACKTRACE=1